nav li{
    list-style: none;
    padding: 5px;
    margin: 5px;
}

nav li:hover{
    background-color: rgb(140, 140, 238);
    color: rgb(14, 12, 12);
    padding: 4px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    background-color: cyan;
    
}

#sr{
    display: none;
}

#sr input{
    display: inline;
    width: 25%;
}